.downloadable-chart-container {
    position: relative;
    &>.download-button {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        cursor: pointer;
        opacity: 0;
        transition: all .3s;
        &>.icon {
            transition: color .2s;
        }
    }
    &:hover>.download-button {
        opacity: 1;
        &>.icon:hover {
            color: #47a994;
        }
    }
}